[submodule "third_party/GroundingDINO"]
	path = third_party/GroundingDINO
	url = https://github.com/edavidk7/GroundingDINO.git
[submodule "third_party/EfficientSAM"]
	path = third_party/EfficientSAM
	url = https://github.com/yformer/EfficientSAM.git
[submodule "third_party/graspnetAPI"]
	path = third_party/graspnetAPI
	url = https://github.com/HanzhiC/graspnetAPI.git
[submodule "third_party/graspness_unofficial"]
	path = third_party/graspness_unofficial
	url = https://github.com/HanzhiC/graspness_unofficial.git
[submodule "third_party/Metric3D"]
	path = third_party/Metric3D
	url = https://github.com/edavidk7/Metric3D.git
[submodule "third_party/DepthAnythingV3"]
	path = third_party/DepthAnythingV3
	url = https://github.com/ByteDance-Seed/depth-anything-3.git
[submodule "6sense"]
	path = 6sense
	url = git@github.com:MatteoWohlrapp/6sense.git
